#ADD input,
#ADD textarea {
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    color: var(--linksHover);
    border: 1px solid var(--contrast);
}

#ADD input:focus,
#ADD textarea:focus {
    background-color: var(--focus);
    color: var(--linksHover);
}

#ADD textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    resize: none;
}

#ADD #addBtn {
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center;
    width: 50%;
    border: none;
    background-color: chartreuse;
    color: #191919;
    font-weight: 600;
}

#ADD #addBtn:hover {
    background-color: var(--links);
    transition: all ease-in-out .5s;
    animation: beat .5s infinite alternate;
}

#ADD form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: rgb(25, 25, 25);
}

@keyframes beat {
    to {
        transform: scale(1.2);
    }
}