.box {
    border: 2px solid black;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    gap: 20px;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.box > button, div {
    padding: 15px;
    box-sizing: border-box;

}

.word {
    grid-row-start: 1;
    grid-row-end: 3;
}

.explanation {
    grid-column-start: 2;
    word-wrap: normal;
}

.choise {
    grid-column-start: 2;
}

#checkBtn {
    padding: 10px 20px;
    font-size: 20px;
    background-color: lightskyblue;
    border-radius: 20px;
    border: none;
    transition: all ease-in-out .2s;
}

#checkBtn:hover {
    background-color: dodgerblue;
}